<header>
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="Wave Technologies Logo">
                </a>
            </div>
            <div class="contact">
                <a href="mailto:info@riferesonator.com">
                    <i class="fas fa-envelope"></i>
                    info@riferesonator.com
                </a>
            </div>
        </div>
    </div>
    
    <nav class="main-nav">
        <div class="container">
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li class="has-dropdown">
                    <a href="shop.html">Shop</a>
                    <ul class="dropdown-menu">
                        <li><a href="shop.html?category=resonators">Resonators</a></li>
                        <li><a href="shop.html?category=accessories">Accessories</a></li>
                        <li><a href="shop.html?category=packages">Packages</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="information.html">Information</a>
                    <ul class="dropdown-menu">
                        <li><a href="treatments-and-frequencies.html">Treatments and Frequencies</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="header-icons">
                <a href="#" class="cart-link">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count">0</span>
                </a>
            </div>
        </div>
    </nav>
</header> 