<header>
    <div class="announcement-bar">
        <p>Free Shipping on Orders Over $500 | 30-Day Money-Back Guarantee</p>
    </div>
    
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="Wave Technologies Logo">
                </a>
            </div>
            <nav class="main-nav">
                <ul class="nav-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="information.html">Information</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <div class="header-icons">
                    <a href="#" class="cart-link">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="cart-count">0</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header> 